
/*-----------------------
 RESET 
 ----------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Roboto', sans-serif;
}

/*-----------------------
 DEBUG
 ----------------------*/

 .debug header{
    background-color: #add8e6;
 }

 .debug .header-top{
    background-color: #daa520;
    padding: 5px;
    margin-bottom: 16px;
    height: 50px;
    border: 2px dashed;
 }

 .debug .slogan{
   border: 2px dashed;
 }

 .debug .header-bottom{
    background-color: #00008b;
    height: 500px;
 }

 .debug .slogan{
    background-color: #ee82ee;
 }

 .debug .col-big{
    background-color: #1e90ff;
    height: 500px;
    border: 2px dashed;
 }

 .debug .col-small{
    background-color: #ffc0cb;
    height: 500px;
    border: 2px dashed;
 }

 .debug .last-page{
    background-color: #228b22;
    height: 800px;
    border: 2px dashed;
 }

.debug footer{
    background-color: #23272a;
}

.debug .f-col-big{
    background-color: #f08080;
    border: 2px dashed;
}

.debug .f-col-small{
    background-color: #20b2aa;
    border: 2px dashed white;
}

.debug .sezione-finale{
   background-color: aquamarine;
   height: 50px;
}

.debug .sezione-finale a{
   border: 1px dashed;
 }

 .debug .slogan{
      height: 400px;
      width: 900px;
 }

 /*-----------------------
 COMMON
 ----------------------*/
 
.container{
    max-width: 1200px;
    margin: auto;
}

.row{
   display: flex;
   justify-content: center;
   align-items: center;
}

 /*-----------------------
THYPOGRAPHY
 ----------------------*/

p{
   font-size: 19px;
   line-height: 160%;
 }

header h1{
   font-size: 45px;
}

 main h2{
   font-size: 40px;
   margin-bottom: 30px;
 }

 main h3{
   font-size:27px;
 }

 footer h4{
   font-size: 25px;
   padding-bottom: 20px;
   color: #7289DA;
 }

 footer h5{
   font-size: 15px;
   color: #7289DA;
 }

 /*-----------------------
 BUTTON
 ----------------------*/

 .btn{
   background-color: transparent;
   border-radius: 30px;
   border: none;
   padding: 15px 25px;
   font-size: 18px;
 }

 .header-top .btn{
   background-color: #F6F6F6;
   padding:10px 13px;
   font-size: 13px;
 }

.header-bottom .btn{
   margin:5px;
 }

 main .btn{
   padding: 15px 25px;
   font-size: 18px;
 }

 .white{
   background-color: #F6F6F6;
 }

 .grey{
   background-color: #23272A;
   color: #F6F6F6;
 }
 
 .purple{
   background-color: #7289DA;
   color: #F6F6F6;
   padding:10px 13px;
   font-size: 13px;
 }

 /*-----------------------
 HEADER
 ----------------------*/

 header{
    padding: 25px 0 0 0;
    background-image: url("../img/jumbo.png");
    background-position: center center; 
    background-size: 100% 100%; 
    color: white;
 }

 .header-top{
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .header-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
 }

 .btn-header-row{
   padding: 15px 0 115px 0;
 }

 .logo, .login{
   width: 20%;
 }

 .login{
   text-align: right;
 }

 .main-nav{
   width: 60%;
 }

 .main-nav ul{
   list-style: none;
   display: flex;
   justify-content: center;
 }

 .main-nav ul li{
   margin: 0 10px;
 }

 .main-nav ul li a{
   text-decoration: none;
   color: inherit;
   font-size: 17px;
 }

 .slogan{
   flex-direction: column;
 }

 .slogan p{
   padding: 30px 0;
   max-width:900px;
   text-align: center;
 }

 /*-----------------------
 MAIN
 ----------------------*/
 
.ondina-grigia{
   height: 100px;
   background-image: url("../img/wave.svg");
}

.capovolta{
   transform: scaleY(-1);
}

 section{
    padding: 50px 0;
 }

 .col-big{
    width: 60%;
 }

 .col-big img{
   width: 100%;
}

 .col-small{
    width: 40%;
 }

 section:nth-child(3), section:nth-child(7){
    background-color: #F6F6F6;
 }

 .last-page{
    width: 100%;
    flex-direction: column;
    text-align: center;
 }

 .avventura{
   background-image: url("../img/stars.svg");
   background-position: center center; 
   background-size: 100% 100%;
   padding: 50px;
 }

 /*-----------------------
 FOOTER
 ----------------------*/

 footer{
    padding-top: 3px;
    background-color: #23272a;
    color:white;
    font-size:17px;
 }

 .footer-top{
    display: flex;
    padding: 5px 0 65px 0;
 }

 .f-col-big{
    width: calc(100%/3);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .bandiera{
   padding-bottom: 15px;
 }

 .f-col-big img{
   width: 20px;
 }

 .f-col-small{
    width: calc(100%/6);
 }

 .f-col-small ul{
   list-style: none;
 }

 .f-col-small ul li{
   padding: 8px 0;
 }
.f-col-small ul li a{
   text-decoration: none;
   color: white;
   font-weight: smaller;
 }

 .sezione-finale{
    display: flex;
    justify-content: space-between;
    align-items:center;
 }

 .separatore{
    border-top: 1px solid grey;
    margin-bottom: 20px;
 }